{
"presets": [
    ["env",{
        "targets": {
        "browsers": ["last 2 versions"]
      },
      "debug": true
    }],
    "react"
  ],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    ["transform-runtime", {
      "helpers": false, // defaults to true 
      "polyfill": false, // defaults to true 
      "regenerator": true, // defaults to true 
      "moduleName": "babel-runtime" // defaults to "babel-runtime" 
    }]
  ]
  }