doctype html
html
  head
    title= title
    link(href="static/favicon.ico" rel="icon" type="image/x-icon")
    link(rel="stylesheet", href="/static/normalize.css")
    link(rel="stylesheet", href="/static/import_fonts.css")
    link(rel="stylesheet", href="/static/app.css")
    link(rel="stylesheet", href="/static/intro.css")
    link(rel="stylesheet", href="/static/hamburger.css")
    

  body
    noscript
        p You need to enable JavaScript to run this app.
    block content
   
    
    

